*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
.container{
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
}
.card{
    width: 25vw;
    height: 50vh;
    background-color: hsl(213, 19%, 18%);
    margin: auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 30px;
    margin: 2px solid black;
    border-radius: 30px;
}
h2{
    color: hsl(0, 0%, 100%);
}
.text{
    color: hsl(217, 12%, 63%);
    margin-bottom: 20px;
}
.ratings{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
}
.grid-item{
    display: flex;
    align-items: center;
}
.star{
    position: relative;
    right: 4px;
    top: 5px;
    width: 40px;
    height: 40px;
    background-color: hsl(213, 19%, 25%);
    border: 2px solid hsl(213, 19%, 18%);
    border-radius: 50%;
}
.circle{
    position: relative;
    left: 10px;
}
.rating{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.button{
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 10px 0;
    border: 2px solid hsl(213, 19%, 18%);
    border-radius: 25px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    letter-spacing: 2px;
}
.number{
    position: relative;
    bottom: 10px;
    border: 2px solid hsl(213, 19%, 25%);
    width: 40px;
    height: 40px;
    font-size: 15px;
    padding-top: 7px;
    border-radius: 25px;
    text-align: center;
    color: hsl(216, 12%, 54%);
    background-color: hsl(213, 19%, 25%);
}   
.number:hover{
    background-color: hsl(25, 97%, 53%);
    color:  hsl(0, 0%, 100%);
}
.number:focus{
    background-color: hsl(213, 19%, 50%);
    color: hsl(0, 0%, 100%);
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.button:active{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
.card-2{
    text-align: center;
    width: 25vw;
    height: 50vh;
    background-color: hsl(213, 19%, 18%);
    margin: auto;
    padding: 30px;
    margin: 2px solid black;
    border-radius: 30px;
}
.card-2-item{
    margin-bottom: 20px;
}
.user-rating{
   margin: auto;
   width: 70%;
   border: 2px solid hsl(213, 19%, 18%);
   border-radius: 20px;
   background-color:  hsl(213, 19%, 25%);
}
.orange-text{
    font-size: 15px;
    padding: 5px;
    color: hsl(25, 97%, 53%);
}
.thank{
    position: relative;
    top: 20px;
}
.appreciation{
    color: hsl(217, 12%, 63%);
    position: relative;
    top: 15px;
    font-size: 15px;
    font-weight: 600;
}
@media screen and (max-width: 600px){
    .card, .card-2{
        width: 60vw;
    }
    .card-2-item{
        position: relative;
        bottom: 10px;
    }

}